{% extends model('component') %}

{% define config = {
    name: 'search-by-image',
    tag: 'search-by-image',
} %}

{% block body %}
    <dialog class="{{ config.jsName }}__dialog {{ config.name }}__dialog">
        <div class="{{ config.name }}__wrapper">
            <div class="{{ config.name }}__heading">
                <h3 class="{{ config.name }}__title">{{ 'search.with.your-images.title' | trans }}</h3>
                <button type="button" class="{{ config.name }}__close-button {{ config.jsName }}__close-button">
                    {% include atom('icon') with {
                        modifiers: ['bigger'],
                        class: config.name ~ '__close-icon',
                        data: {
                            name: 'cross',
                        },
                    } only %}
                </button>
            </div>
            <div class="{{ config.name }}__content">
                <form action="/search-ai/image" method="post" class="{{ config.name }}__form {{ config.jsName }}__form">
                    <div class="{{ config.name }}__image-wrapper {{ config.jsName }}__image-wrapper">
                        <div class="{{ config.jsName }}__loading-frame {{ config.name }}__loading-frame {{ config.name }}__loading-frame--is-active">
                            <img class="{{ config.name }}__image-placeholder {{ config.jsName }}__image-placeholder" src="/assets/static/images/ai-search-image-placeholder.png" alt="">
                        </div>
                    </div>

                    <h5 class="{{ config.name }}__info">{{ 'search.with.your-images.content' | trans }}</h5>

                    <div class="{{ config.name }}__grid">
                        <div class="{{ config.name }}__col is-hidden-md-xxl">
                            <div class="{{ config.name }}__file-input-wrapper">
                                <input class="{{ config.name }}__file-input {{ config.jsName }}__file-input" type="file" name="image" accept="image/*" capture="environment">
                                <button
                                    class="{{ config.name }}__file-input-button button button--big"
                                    type="button">
                                    {{ 'search.with.your.images.photo.button' | trans  }}
                                </button>
                            </div>
                        </div>
                        <div class="{{ config.name }}__col">
                            <div class="{{ config.name }}__file-input-wrapper">
                                <input class="{{ config.name }}__file-input {{ config.jsName }}__file-input" type="file" name="image" accept="image/*">
                                <button
                                    class="{{ config.name }}__file-input-button button button--big"
                                    type="button">
                                    {{ 'search.with.your-images.button' | trans }}
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="{{ config.name }}__service-message {{ config.jsName }}__service-message is-hidden">
                        {{ 'search.with.your-images.no-results' | trans }}
                    </div>
                </form>
            </div>
        </div>
    </dialog>
{% endblock %}
